<p id="notice">Book was successfully created.</p>

<p>
  <strong>Title:</strong>
  test
</p>

<p>
  <strong>Body:</strong>
  test
</p>

<a class="edit_16517" href="/books/16517/edit">Edit</a> |
<a class="back" href="/books">Back</a>
